@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .letter:not(:hover) {
    transition: transform 0.2s;
  }

  .letter:nth-child(1):not(:hover) {
    animation: pressDown1 5s infinite;
  }

  .letter:nth-child(2):not(:hover) {
    animation: pressDown2 5s infinite;
  }

  .letter:nth-child(3):not(:hover) {
    animation: pressDown3 5s infinite;
  }

  .letter:nth-child(4):not(:hover) {
    animation: pressDown4 5.5s infinite;
  }

  .letter:nth-child(5):not(:hover) {
    animation: pressDown5 6.5s infinite;
  }

  .letter:nth-child(6):not(:hover) {
    animation: pressDown6 5.5s infinite;
  }

  @keyframes pressDown1 {
    30%,
    40%,
    100% {
      transform: translateY(0);
    }
    35% {
      transform: translateY(10px);
    }
  }

  @keyframes pressDown2 {
    70%,
    80%,
    100% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(10px);
    }
  }

  @keyframes pressDown3 {
    30%,
    40%,
    100% {
      transform: translateY(0);
    }
    35% {
      transform: translateY(10px);
    }
  }

  @keyframes pressDown4 {
    40%,
    50%,
    100% {
      transform: translateY(0);
    }
    45% {
      transform: translateY(10px);
    }
  }

  @keyframes pressDown5 {
    20%,
    30%,
    100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(10px);
    }
  }

  @keyframes pressDown6 {
    60%,
    70%,
    100% {
      transform: translateY(0);
    }
    65% {
      transform: translateY(10px);
    }
  }
}
