@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    transform-style: preserve-3d;
  }

  .text-container {
    transform-style: preserve-3d;
    transition: transform 0.4s;
  }

  .text-container .secondary {
    transform: rotateX(-90deg) translateY(3.5vw);
    transform-origin: bottom center;
  }
  .text-container:hover {
    transform: rotateX(90deg);
  }
}
